{% extends "home_base.html" %}

{% block title %}{{ profile }}{% endblock %}

{% block nav_info_class %}selected{% endblock %}

{% block content %}
    <div style="height: 80px;"></div>
	{% load profile relate humanize %}
{% load staticfiles %}
{% load i18n %}

<style>

.image {
    width: 60px;
    height: 60px;
    float: left;
    border: 1px hidden #999;
}
.thumbnail{
    width : 300px;
    height: 250px;
    overflow: auto;
}

.thumbnail .listing {
    width: 100%;
    height: 150px;
    display: block;
}
</style>


<div class="container-fluid" id="profile-container-fluid">
  <div class="jumbotron" id="profile-jumbotron">
    <h2>{{ profile.name }}</h2>
  </div>
</div>

<section class="container-fluid" id="profile-info">
  <div class="row">
    <div class="col-md-8">
      <div class="inside-profile-info">
        <h3>Profile description:</h3>
        <b>{{ profile.description }}</b>
      </div>
    </div>

    <div class="col-md-4" style="text-align: center; padding-right: 0">
      <img src="{% profile_image_url request.profile '150x150' %}" alt="" height=88px width=88px class="img-circle">
      <p class="profile-star-rating">
{#        <i class="fa fa-star" aria-hidden="true"></i>#}
{#        <i class="fa fa-star" aria-hidden="true"></i>#}
{#        <i class="fa fa-star" aria-hidden="true"></i>#}
{#        <i class="fa fa-star" aria-hidden="true"></i>#}
{#        <i class="fa fa-star" aria-hidden="true"></i>#}
      </p>
      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-warning">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-success">
          <i class="fa fa-usd" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</section>


<section class="container-fluid" id="profile-listing-info">
  <div class="row">
    <div class="col-md-9">
    {% if listings %}
      <h3>Open listings</h3>
      <bold><hr></bold>
        <!-- Construct in the for loop -->
        {% for each in listings %}
          <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img class="listing" src="{% product_image_url each '280x280' %}" alt="...">
                        <p class="thumbnail-tag" style="margin-left: -55px;">{{ each.subcategories.sub_categories_text }}</p>
                        <p class="thumbnail-info"></p>
                        <div class="caption">
                            <img src="{% profile_image_url each.user.profile '60x60' %}" class="img-circle inline"/>
                            <p>{{ each.title }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
            {% else %}
            <b>There is no open listings for you. <a href="javascript:void(0)">Create</a> one now?</b>
{% endif %}
    </div>
  <div class="col-md-3" style="padding-top: 60px;">
  <p><a href="#"><i class="fa fa-balance-scale" aria-hidden="true"></i>{% blocktrans count hours=profile.overall_balance %} - {{ hours }} hour {% plural %} {{ hours }} hours</a></p>
    {% endblocktrans %}
  <p><a href="#"><i class="fa fa-pencil" aria-hidden="true"></i> Job Description</a></p>
  <p><a href="#"><i class="fa fa-home" aria-hidden="true"></i> {{ profile.location.full_name }}</a></p>

  <div class="card">
    <h4>Offerings</h4>
    <span class="badge">Massage</span>
    <span class="badge">Web Design</span>
    <span class="badge">Child Care</span>
    <span class="badge">Off Grid</span>
  </div>
  <div class="card">
    <h4>Requests</h4>
    <span class="badge">Massage</span>
    <span class="badge">Organic Vegan Food</span>
    <span class="badge">Help Building</span>
    <span class="badge">Kids Stuff</span>
  </div>
</div>
</div>

</section>


{#{% if request.profile %}#}
{#<!-- our transcation history -->#}
{#<section class="container-fluid">#}
{#  <div class="row">#}
{#    <div class="col-md-9">#}
{#      <h3>Our Transaction History</h3>#}
{#      <table class="table table-bordered">#}
{#        <tbody>#}
{#          <tr>#}
{#            <td>11/20/2016</td>#}
{#            <td>-6 hours</td>#}
{#            <td>Good Job painting</td>#}
{#            <td>#}
{#              <p class="profile-star-rating">#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#              </p>#}
{#            </td>#}
{#          </tr>#}
{#          <tr>#}
{#            <td>11/11/2016</td>#}
{#            <td>+ 4 hours</td>#}
{#            <td></td>#}
{#            <td>#}
{#              <p class="profile-star-rating">#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#              </p>#}
{#            </td>#}
{#          </tr>#}
{#          <tr>#}
{#            <td>11/9/2016</td>#}
{#            <td>+10 hours</td>#}
{#            <td></td>#}
{#            <td>#}
{#              <p class="profile-star-rating">#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#                <i class="fa fa-star" aria-hidden="true"></i>#}
{#              </p>#}
{#            </td>#}
{#          </tr>#}
{#        </tbody>#}
{#      </table>#}
{#    </div>#}
{#  </div>#}
{#</section>#}
{#{% endif %}#}

<section class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <h3>Endorsed by:</h3>
    {% if endorsements_received %}
      {% for each_endorsement_received in endorsements_received %}
          <h4></h4>
          <hr>
          <div class="image">
            <img class="img-rounded" src="{% profile_image_url each_endorsement_received.endorser '60x60' %}" alt="">
          </div>
            <p class="text">Description: {{ each_endorsement_received.text }}</p>
            <p class="text">From {{ each_endorsement_received.endorser.name }} to {{ request.profile.name }}</p>
          <hr>
      {% endfor %}
    {% else %}
        <p class="text">No endorsements received yet</p>
    {% endif %}

      <hr>
    </div>
  </div>
</section>

<section class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <h3>Endorsements made:</h3>
            {% if endorsements_made %}
                {% for each_endorsement_made in endorsements_made %}
                    <h4></h4>
                    <hr>
                    <div class="image">
                        <img class="img-rounded" src="{% profile_image_url each_endorsement_made.recipient '60x60' %}" alt="">
                    </div>
                    <p class="text">Description: {{ each_endorsement_made.text }}</p>
                    <p class="Media-body">From <a href="{{ request.profile.get_absolute_url }}">{{ request.profile.name }}</a> to <a href="{{ each_endorsement_made.recipient.get_absolute_url }}">{{ each_endorsement_made.recipient.name }}</a></p>
                {% endfor %}

            {% else %}
                <p class="text">No endorsements made yet</p>
            {% endif %}
            <hr>
        </div>
    </div>
</section>
{% endblock %}
