{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ profile }}{% endblock %}

{% block nav_info_class %}selected{% endblock %}

{% block content %}
{% load profile relate humanize feed%}
{% load staticfiles %}
{% load i18n %}

<style>
    .image {
    width: 60px;
    height: 60px;
    float: left;
    border: 1px hidden #999;
}
.thumbnail{
    width : 300px;
    height: 250px;
    overflow: auto;
}

.thumbnail .listing {
    width: 100%;
    height: 150px;
    display: block;
}
</style>

<div class="container-fluid" id="profile-container-fluid">
  <div class="jumbotron" id="profile-jumbotron">
    <h2>{{ profile.name }}</h2>
  </div>
</div>

<section class="container-fluid" id="profile-info">
  <div class="row">
    <div class="col-md-8">
      <div class="inside-profile-info">
        <p>Profile description:</p>
        <p>{{ profile.description }}</p>
      </div>
        <hr>
    </div>

    <div class="col-md-4" style="text-align: center;">
      <img src="{% profile_image_url profile '150x150' %}" alt="" height=88px width=88px class="img-circle">
      <p class="profile-star-rating">
        <th>{% trans 'Reputation:' %}</th>
            {% if profile.reputation %}
			    <td>{% reputation profile profile %}</td>
            {% else %}
                <td>No reputation yet</td>
            {% endif %}
      </p>
      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button type="button" class="btn btn-default btn-warning">
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-default btn-success">
          <i class="fa fa-money" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid" id="profile-listing-info">
  <div class="row">
    <div class="col-md-9">
    {% if listings %}
      <h3>Open listings</h3>
      <bold><hr></bold>
        <!-- Construct in the for loop -->
        {% for each in listings %}
          <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img class="listing" src="{% product_image_url each '280x280' %}" alt="...">
                        <p class="thumbnail-tag" style="margin-left: -55px;">{{ each.subcategories.sub_categories_text }}</p>
                        <p class="thumbnail-info"></p>
                        <div class="caption">
                            <img src="{% profile_image_url each.user.profile '60x60' %}" class="img-circle inline"/>
                            <p>{{ each.title }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
            {% else %}
            <h3>There is no open listings for this user</h3>
{% endif %}
    </div>
  <div class="col-md-3">
  <p><i class="fa fa-balance-scale" aria-hidden="true"></i>{% blocktrans count hours=profile.overall_balance %} - {{ hours }} hour {% plural %} {{ hours }} hours</p>
    {% endblocktrans %}
{#  <p><i class="fa fa-pencil" aria-hidden="true"></i> Job Description</p>#}
  <p><i class="fa fa-heart" aria-hidden="true"></i> Total Hearts: {{ profile.endorsement_sum }}</p>
  <p><i class="fa fa-home" aria-hidden="true" data-toggle="tooltip" title="User location"></i> {{ profile.location.full_name }}</p>
  <p><i class="fa fa-calendar" aria-hidden="true"></i> {{ profile.user.date_joined|naturalday }}</p>

  <div class="card">
    <h4>Offerings</h4>
    <span class="badge">Massage</span>
    <span class="badge">Web Design</span>
    <span class="badge">Child Care</span>
    <span class="badge">Off Grid</span>
  </div>
  <div class="card">
    <h4>Requests</h4>
    <span class="badge">Massage</span>
    <span class="badge">Organic Vegan Food</span>
    <span class="badge">Help Building</span>
    <span class="badge">Kids Stuff</span>
  </div>
</div>
</div>

</section>

<!-- Relationship with -->
<section class="container-fluid">
  <div class="row">
    <div class="col-md-9">
    {% if request.profile %}
      <h3>My Relationship with {{ profile.name }}</h3>
      <table class="table table-bordered table-relationship">
        <tbody>
          <tr>
            <td>Current Balance</td>
            <td>{% blocktrans count hours=profile.overall_balance %}
					{{hours}} hour
				{% plural %}
					{{hours}} hours
				{% endblocktrans %}</td>
          </tr>
          <tr>
              <td>Trusted Balance</td>
              <td>{% blocktrans count hours=profile.trusted_balance %}
					{{hours}} hour
				{% plural %}
					{{hours}} hours
				{% endblocktrans %}</td>
          </tr>
          <tr>
              <th><a href="{% url 'relationship' profile.username %}"
              >{% trans 'Balance with Me' %}</a>
              </th>
              <td>
                  {% blocktrans count hours=account.balance %}
                      {{hours}} hour
                  {% plural %}
                      {{hours}} hours
                  {% endblocktrans %}
              </td>
          </tr>
          {% if account.partner_endorsement %}
          <tr>
            {% blocktrans count hearts=account.partner_endorsement.weight %}
            <td>{{ partner }} endorsement of you</td>
            {% plural %}
                {{ partner }} endorsement of you
            {% endblocktrans %}
            <td>{% blocktrans count hearts=account.partner_endorsement.weight %}
				{{ hearts }} heart
			{% plural %}
				{{ hearts }} hearts
			{% endblocktrans %}</td>
          </tr>
          {% endif %}
          {% if account.endorsement %}
          <tr>
            {% blocktrans count hearts=account.endorsement.weight %}
            <td>Your endorsement of {{ partner }}</td>
            {% plural %}
                <td>Your endorsement of {{ partner }}</td>
            {% endblocktrans %}
            <td>{% blocktrans count hearts=account.endorsement.weight %}
				{{ hearts }} heart
			{% plural %}
				{{ hearts }} hearts
			{% endblocktrans %}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    {% endif %}
    </div>
  </div>
</section>

<section class="container-fluid">
  <div class="row">
      <h3>Endorsed by:</h3>
    {% if profile_endorsements_received %}
      {% for each_endorsement_received in profile_endorsements_received %}
          <div class="container-fluid">
          <hr>
          <div class="image">
            <img class="img-rounded endorsed-by-img" src="{% profile_image_url each_endorsement_received.endorser '60x60' %}" alt="">
          </div>
            <p class="text">Description: {{ each_endorsement_received.text }}</p>
            <p class="text">From <a href="{{ each_endorsement_received.get_absolute_url }}">{{ each_endorsement_received.endorser.name }}</a> to <a href="{{ each_endorsement_received.get_absolute_url }}">{{ profile.name }}</a></p>
          </div>
      {% endfor %}
    {% else %}
        <p class="text">No endorsements received yet</p>
    {% endif %}
    </div>
</section>

<section class="container-fluid">
    <div class="row">
            <h3>Endorsements made:</h3>
            {% if profile_endorsements_made %}
                {% for each_endorsement_made in profile_endorsements_made %}
                    <div class="container-fluid">
                        <hr>
                        <div class="image">
                            <img class="img-rounded endorsed-by-img" src="{% profile_image_url each_endorsement_made.recipient '60x60' %}" alt="">
                        </div>
                        <p class="text">Description: {{ each_endorsement_made.text }}</p>
                        <p class="text">From <a href="{{ profile.get_absolute_url }}">{{ profile.name }}</a> to <a href="{{ each_endorsement_made.recipient.get_absolute_url }}">{{ each_endorsement_made.recipient.name }}</a></p>
                    </div>
                {% endfor %}
            {% else %}
                <p class="text">No endorsements made yet</p>
            {% endif %}
            <hr>
        </div>
</section>
{% endblock %}
