{% extends 'base.html' %}

{% block content %}

    <style>
        .nav-tabs .fa {
            margin-right: 15px;
        }
    </style>

<ul class="nav nav-tabs" role="tablist" style="position: relative;">
    <li class="nav-item">
        <a class="nav-link active" href="#urls-management" data-toggle="tab" role="tab">
            <i class="fa fa-globe"></i>URLs
        </a>
    </li>
    <li class="nav-item" id="user-management-tab">
        <a class="nav-link" href="#users-management" data-toggle="tab" role="tab">
            <i class="fa fa-user"></i>Users
        </a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="urls-management" role="tabpanel">
      <div id="reportrange" class="form-control col-lg-4 pull-left">
          <i class="fa fa-calendar"></i>&nbsp;
          <span></span>
                <a href="{% url 'management_urls' %}">
                    <i class="fa fa-sitemap"></i> Management
                </a> | Management URLs
            </div>
      <div class="col-sm-12"><a href="{% url 'categories:categories_manager:manage_categories' %}">
            <i class="fa fa-tag"></i> Manage Categories</a></div>
        <div class="col-sm-12"><a href="{% url 'categories:subcategories_manager:manage_subcategories' %}">
            <i class="fa fa-tags"></i> Manage Subcategories</a></div>
  </div>
  <div class="tab-pane" id="users-management" role="tabpanel">
      <div class="form-control col-lg-4 pull-left">
          <input type="text" class="form-control" placeholder="Search the user">
          <div class="container">
              <table id="table-users" class="table table-responsive table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Users</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td class="pointer center td-checkbox">
                            <input id="{{ user.id }}" type="checkbox" value="{{ user.id }}">
                        </td>
                        <td width="100%"> category_info.id %}" class="pull-left">{{ category_info.categories_text }}</a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
          </div>
      </div>
  </div>
</div>

    <hr>
<div class="container">

</div>
{% endblock %}