{% extends "home_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head-css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/pages/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link type="text/css" href="{% static 'css/jquery.tag-editor.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
    <link href="{% static 'chosen/chosen.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block ready_js %}
	{{ block.super }}
    <script>
	init_feed_filter_form();
	</script>
{% endblock %}

{% block nav_feed_class %}selected{% endblock %}
{% block content %}
    <br><br><br><br><br>
{#<div class="feed_type_filter nav"><ul>#}
{#	<li class="{% block feed_all_class %}{% endblock %}">#}
{#		<a href="{% url 'feed' %}?{{ url_param_str }}"#}
{#			>{% trans 'All' %}</a></li>#}
{#	<li class="{% block feed_people_class %}{% endblock %}">#}
{#		<a href="{% url 'profiles' %}?{{ url_param_str }}"#}
{#			>{% trans 'People' %}</a></li>#}
{#	<li class="{% block feed_posts_class %}{% endblock %}">#}
{#		<a href="{% url 'posts' %}?{{ url_param_str }}"#}
{#			>{% trans 'Posts' %}</a></li>#}
{#	{% if user.is_authenticated %}#}
{#	<li class="{% block feed_endorsements_class %}{% endblock %}">#}
{#		<a href="{% url 'endorsements' %}?{{ url_param_str }}"#}
{#			>{% trans 'Endorsements' %}</a></li>#}
{#	<li class="{% block feed_acknowledgements_class %}{% endblock %}">#}
{#		<a href="{% url 'acknowledgements' %}?{{ url_param_str }}"#}
{#			>{% trans 'Acknowledgements' %}</a></li>#}
{#	{% endif %}#}
{#</ul></div>#}
<div class="page-header col-sm-12">
 <h2 class="col-sm-7"><i class="fa fa-cloud-upload"></i><span class="icon-success">All</span> |
            <strong> Filter</strong>
        </h2>
</div>
	<form class="inline_form" action="" method="get"><ul>
		<li class="first">
			{{ form.q }}
			<a id="id_clear" href="javascript:void(0)"
				>{% trans 'Clear' %}</a></li>
		<li>{{ form.radius }}</li>
	{% if request.profile %}
		<li><label>{{ form.trusted }}
			<img src="{% static 'img/heart_icon.png' %}"
				alt="{% trans 'Heart icon = trusted user' %}">
				{% trans 'Trusted only' %}</label></li>
	{% endif %}
	</ul></form>
</div>

{% block pre_feed %}{% endblock %}
{% include "feed_item_list.html" %}

{% endblock %}
