{% load staticfiles %}

<!-- Fixed navbar -->
<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" id="navbar-logo" src="{% static 'images/logo.png' %}" alt="Brand">
      <a href="{% url 'frontend:home' %}" class="navbar-brand navbar-title navtop">VILLAGES.CC</a>
    </div>

    <!-- Navbar form -->
    <form class="navbar-form navbar-left">

      <div class="form-group navtop">
        <input type="text" class="form-control form-nav-what" placeholder="What do you need?">
      </div>

      <div class="input-group navtop">
        <input type="text" class="form-control form-nav-location" placeholder="Location">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div><!-- /input-group -->
    </form>

    <div id="navbar" class="navbar-collapse collapse navtop navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'how_it_works' %}">How it works</a></li>
            <li><a href="#">Motivation</a></li>
            <li><a href="#">Privacy</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </li>
        <li>
        <div class="btn-group btn-group-lg btn-top-adjust" role="group" aria-label="...">
          <button type="button" class="btn btn-default btn-warning">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default btn-success">
            <i class="fa fa-usd" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default btn-danger">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </button>
        </div>
      </li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="#"><i class="fa fa-bell fa-2x" aria-hidden="true"></i></a></li>
        <li>
            {% if request.user.profile.photo %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-top: 12px"><img src="/{{ request.user.profile.photo }}" width=38px height=38px class="img-circle"/></a>
            {% else %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-top: 12px"><img src="{% static 'images/logo.png'  %}" width=38px height=38px class="img-circle"/></a>
            {% endif %}
          <ul class="dropdown-menu" style="margin-left: -91px;">
            <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
            <li><a href="#">Mange Listing</a></li>
            <li><a href="{% url 'accounts:settings' %}">Settings</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
</div>
