{% load staticfiles %}
{% load i18n %}

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img class="navbar-brand" id="navbar-logo" src="{% static 'images/logo.png' %}" alt="Brand">
      <a href="{% url 'frontend:home' %}" class="navbar-brand navbar-title navtop">VILLAGES.CC</a>
    </div>

    <!-- Navbar form -->
    <form class="navbar-form navbar-left">

      <div class="form-group navtop">
        <input type="text" class="form-control form-nav-what" placeholder="What do you need?">
      </div>

      <div class="input-group navtop">
        <input type="text" class="form-control form-nav-location" placeholder="Location">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </span>
      </div><!-- /input-group -->
    </form>

    <div id="navbar" class="navbar-collapse collapse navtop">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'how_it_works' %}">How it works</a></li>
            <li><a href="#">Motivation</a></li>
            <li><a href="#">Privacy</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Developers</a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Contact us</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-auth">
        <li><a href="{% url 'accounts:signup' %}">Sign up</a></li>
        <li><a href="{% url 'accounts:login' %}">Log in</a></li>
        <li class="active-home"><a href="./">+ Post a new listing <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>


