{% extends 'base.html' %}
{% load staticfiles profile relate i18n %}
{% load tag_utils %}

{% block content %}

    <form action="" method="get">
        {% if user_agent_type == 'mobile' %}
            <div class="col-md-2">
            {% if not listing_items %}
                {{ form.radius }}
                <div><span><label>{{ form.trusted }}
            <img src="{% static 'img/heart_icon.png' %}"
                 alt="{% trans 'Heart icon = trusted user' %}">
                    {% trans 'Trusted only' %}</label>
        </span></div>
                <div>
                    {% if feed_items %}
                        <a href="{% url 'frontend:home' %}"><img src="{% static 'img/people.png' %}" height="22" width="22">&nbsp Posts only</a>
                    {% elif listing_items %}
                        <a href="{% url 'frontend:home_people' %}"><img src="{% static 'img/people.png' %}" height="22" width="22">&nbsp People only</a>
                    {% endif %}
                </div>

                <nav class="sidebar">
                <ul>
                    <li class="menu-group" style="padding-left: 0">
                        <div id="all_categories"><i class="fa fa-globe"></i>ALL CATEGORIES</div>
                        <ul class="collapse">
                            {% for each in categories %}
                                {% if each.categories_text == 'PRODUCTS' %}
                                    <li class="menu-group">
                                        <div><i class="fa fa-shopping-bag"></i> {{ each.categories_text }}</div>
                                        <ul>
                                            <li><a href="{% url 'frontend:home' 'PRODUCTS' %}">ALL PRODUCTS</a></li>
                                            <hr>
                                            {% for each_sub_category in item_sub_categories %}
                                                <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% elif each.categories_text == 'SERVICES' %}
                                    <li class="menu-group">
                                        <div><i class="fa fa-truck"></i> {{ each.categories_text }}</div>
                                        <ul>
                                            <li><a href="{% url 'frontend:home' 'SERVICES' %}">ALL SERVICES</a></li>
                                            <hr>
                                            {% for each_sub_category in services_sub_categories %}
                                                <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% elif each.categories_text == 'RIDESHARE' %}
                                    <li class="menu-group">
                                        <div><i class="fa fa-bug"></i> {{ each.categories_text }}</div>
                                        <ul>
                                            <li><a href="{% url 'frontend:home' 'RIDESHARE' %}">ALL RIDESHARE</a></li>
                                            <hr>
                                            {% for each_sub_category in rideshare_sub_categories %}
                                                <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% elif each.categories_text == 'HOUSING' %}
                                    <li class="menu-group">
                                        <div><i class="fa fa-home"></i> {{ each.categories_text }}</div>
                                        <ul>
                                            <li><a href="{% url 'frontend:home' 'HOUSING' %}">ALL HOUSING</a></li>
                                            <hr>
                                            {% for each_sub_category in housing_sub_categories %}
                                                <li><a href="#">{{ each_sub_category.id }}</a>{{ each_sub_category.sub_categories_text }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>

                </ul>
            </nav>
            <br>
        </div>
            {% endif %}

{#        MOBILE ELSE#}
        {% else %}
            <div>
                {% if feed_items %}
                    <a href="{% url 'frontend:home' %}"><img src="{% static 'img/people.png' %}" height="22" width="22">&nbsp Posts only</a>
                {% elif listing_items %}
                    <a href="{% url 'frontend:home_people' %}"><img src="{% static 'img/people.png' %}" height="22" width="22">&nbsp People only</a>
                {% endif %}
            </div>
            <hr>

            <nav class="sidebar">
                <ul>
                    <li>
                        <div id="all_categories"><i class="fa fa-globe"></i><a href="{% url 'frontend:home' %}">ALL CATEGORIES</a></div>
                        <ul class="collapse">
                            <li></li>
                        </ul>
                    </li>
                    {% for each in categories %}
                        {% if each.categories_text == 'PRODUCTS' %}
                            <li class="menu-group">
                                <div><i class="fa fa-shopping-bag"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                    <li><a href="{% url 'frontend:home' 'PRODUCTS' %}">ALL PRODUCTS</a></li>
                                    <hr>
                                    {% for each_sub_category in item_sub_categories %}
                                        <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elif each.categories_text == 'SERVICES' %}
                            <li class="menu-group">
                                <div><i class="fa fa-truck"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                    <li><a href="{% url 'frontend:home' 'SERVICES' %}">ALL SERVICES</a></li>
                                    <hr>
                                    {% for each_sub_category in services_sub_categories %}
                                        <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elif each.categories_text == 'RIDESHARE' %}
                            <li class="menu-group">
                                <div><i class="fa fa-bug"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                    <li><a href="{% url 'frontend:home' 'RIDESHARE' %}">ALL RIDESHARE</a></li>
                                    <hr>
                                    {% for each_sub_category in rideshare_sub_categories %}
                                        <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elif each.categories_text == 'HOUSING' %}
                            <li class="menu-group">
                                <div><i class="fa fa-home"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                    <li><a href="{% url 'frontend:home' 'HOUSING' %}">ALL HOUSING</a></li>
                                    <hr>
                                    {% for each_sub_category in housing_sub_categories %}
                                        <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <br>
        {% endif %}

    <section class="container-fluid" id="home-sub-menu">
        <div class="row">
            <div class="col-md-6">
                <ul style="padding-left: 0;">
                    <div class="form-group">
                        <div class="filters-enabled home-toolbar-button-group">
                            <a class="home-toolbar-button-group-button selected" title="Grid" href="/?view=grid"><i class="ss-thumbnails icon-fix home-button-group-icon"></i>
                                <span class="home-toolbar-button-text">Grid
                                </span>
                            </a>
                            <a class="home-toolbar-button-group-button " title="Map" href="{% url 'frontend:map' %}"><i class="ss-maplocation icon-fix home-button-group-icon"></i>
                                <span class="home-toolbar-button-text">Map
                                </span>
                            </a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </section>
    </form>
{% endblock %}