{% load staticfiles %}

<style>
h1 { color: #ff4411; font-size: 20px; font-family: 'Signika', sans-serif; padding-bottom: 10px; }


p { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }


a { color: #ff4411; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; }


a:hover { color: #a03c21 }


.date { float: left }


.author { float: right }


.entry-content { border-bottom: 3px solid #666; padding: 0 0 15px 0; margin-bottom: 8px; }


.meta-info { padding: 5px; overflow: hidden; }


.meta-info p { font-family: 'Fenix', serif; font-style: italic; color: #666; font-size: 16px; }
</style>

<!-- Content should be construct with section -->
<section class="container-fluid con-padding-top">
  <div class="row">

    <!-- Div on the left side -->

         <p>ALL CATEGORIES</p>
      <div class="col-md-3 menu-container">
      <nav class="sidebar">
        <ul class="nav sidenav menu clearfix">
            <ul>
              <li><a href="#items">ITEMS</a>
                  <ul class="sub-menu clearfix">
                      <li><a href="#">subitem1</a></li>
                      <li><a href="#">subitem1</a></li>
                      <li><a href="#">subitem1</a></li>
                      <li><a href="#">subitem1</a></li>
                      <li><a href="#">subitem1</a></li>
                      <li><a href="#">subitem1</a></li>
                  </ul>
            </ul>
            <ul>
              <li><a href="#">TOOLS</a></li>
            </ul>
            <ul>
              <li><a href="#">SPORTS</a></li>
            </ul>
            <ul>
              <li><a href="#">MUSIC</a></li>
            </ul>
            <ul>
              <li><a href="#">BOOKS & MAGAZINES</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <br><br>
      <input
        id="ex2"
        type="text"
        class="span2"
        value=""
        data-slider-min="10"
        data-slider-max="1000"
        data-slider-step="5"
        data-slider-value="[250,450]"
        data-slider-handle="square"/>
        <br><br>
        <button type="button" class="btn btn-warning" name="button">Update view</button>
    </div>

    <!-- Div on the right side -->
    <div class="col-md-9">

      <!-- Forms -->
      <form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-inline">
          <div class="form-group col-md-12">
              <h1 class="">
                  Welcome to Villages.cc Marketplace {{ request.profile.name }}! What do you want to do?</h1>
            {{ form.listing_type }}
            <!-- {{ form.fields.listing_type.choices }} -->
          </div>
          <div class="form-group col-md-9">

            <input type="text" class="form-control full-width input-lg" name="title" value="" placeholder="Garden Help">
          </div>
        </div>

        <!-- Give space -->
        <br><br><br>
        <div class="form-inline float-right">

          <div class="form-group">
            <label for="">Price</label>
            {{ form.price }}
            <!-- <input type="text" class="form-control" name="price" value=""> -->
          </div>

          <!-- Sub Categories -->
          {{ form.subcategories }}
          <div class="form-group">
            {{ form.photo }}
          </div>
          <input type="hidden" name="user" value="{{ request.user.id }}">
          <input type="submit" class="btn" value="POST">
        </div>
      </form>

      <!-- Options  -->
{#      <div class="row" style="margin-top: 54px;">#}
{#        <div class="col-md-6">#}
{#          <!-- Split button -->#}
{#          <div class="btn-group">#}
{#            <button type="button" class="btn btn-default btn-lg">All listing types</button>#}
{#            <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#              <span class="caret"></span>#}
{#              <span class="sr-only">Toggle Dropdown</span>#}
{#            </button>#}
{#            <ul class="dropdown-menu">#}
{#              <li><a href="#">Offer</a></li>#}
{#              <li><a href="#">Request</a></li>#}
{#              <li><a href="#">Teach</a></li>#}
{#              <li role="separator" class="divider"></li>#}
{#              <li><a href="#">Learn</a></li>#}
{#              <li><a href="#">Gift</a></li>#}
{#              <li><a href="#">Goal</a></li>#}
{#            </ul>#}
{#          </div>#}
{#        </div>#}
{#        <div class="col-md-6">#}
{#          <button type="button" class="btn btn-default btn-lg btn-20 btn-last btn-non-active  pull-right">#}
{#            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map#}
{#          </button>#}
{#          <button type="button" class="btn btn-default btn-lg btn-20 btn-second btn-non-active pull-right">#}
{#            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List#}
{#          </button>#}
{#          <button type="button" class="btn btn-default btn-lg btn-20 btn-first btn-active pull-right">#}
{#            <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Grid#}
{#          </button>#}
{#        </div>#}
{#      </div>#}

      <hr>
      <!-- After the form post show the listing -->
      <!-- Given for loop to construct all -->
{#      {% for each in listings %}#}
        <div class="col-sm-5 col-md-2">
            <div class="thumbnail">
                <a href="{% url 'feed' %}" class="thumbnail">
                    <img src="{% static 'images/all_Easy-Resize.com.jpg' %}" alt="...">
                    <div class="caption">
                        <h5>All</h5>
                    </div>
                <div class="caption">
{#                    <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>#}
{#                    <p class="inline">{{ each.user }}</p>#}
                </div>
                </a>
            </div>
        </div>
         <div class="col-sm-5 col-md-2">
            <div class="thumbnail image">
                <a href="{% url 'accounts:profiles' %}?{{ url_param_str }}" class="thumbnail image">
                    <img src="{% static 'images/people_Easy-Resize.com.jpg' %}" alt="...">
                    <div class="caption">
                        <h5>People</h5>
                    </div>
                <div class="caption">
{#                    <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>#}
{#                    <p class="inline">{{ each.user }}</p>#}
                </div>
                </a>
            </div>
        </div>
         <div class="col-sm-5 col-md-2">
            <div class="thumbnail image">
                <a href="{% url 'posts' %}?{{ url_param_str }}" class="thumbnail">
                    <img src="{% static 'images/posts_Easy-Resize.com.jpg' %}" alt="...">
                    <div class="caption">
                        <h5>Posts</h5>
                    </div>
                <div class="caption">
{#                    <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>#}
{#                    <p class="inline">{{ each.user }}</p>#}
                </div>
                </a>
            </div>
        </div>
        <div class="col-sm-5 col-md-2">
            <div class="thumbnail">
                <a href="{% url 'endorsements' %}?{{ url_param_str }}" class="thumbnail">
                    <img src="{% static 'images/trust_Easy-Resize.com.jpg' %}" alt="...">
                    <div class="caption">
                        <h5>Trust</h5>
                    </div>
                <div class="caption">
{#                    <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>#}
{#                    <p class="inline">{{ each.user }}</p>#}
                </div>
                </a>
            </div>
        </div>
        <div class="col-sm-5 col-md-2">
            <div class="thumbnail">
                <a href="{% url 'acknowledgements' %}?{{ url_param_str }}" class="thumbnail">
                    <img src="{% static 'images/back-payment-icon-10.png' %}" alt="...">
                    <div class="caption">
                        <h5>Pay Forward</h5>
                    </div>
                <div class="caption">
{#                    <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>#}
{#                    <p class="inline">{{ each.user }}</p>#}
                </div>
                </a>
            </div>
        </div>
{#      {% endfor %}#}
    </div>
  </div>
</section>
