{% load staticfiles profile relate i18n %}

<style>
    .thumbnail .listing-modal{
        width : 300px;
        height: 260px;
        overflow: auto;
    }

    .thumbnail .listing {
        width: 100%;
        height: 150px;
        display: block;
    }
</style>

<section class="container-fluid" id="home-sub-menu">
    <div class="row">
        <div class="col-md-2">
            <nav class="sidebar">
                <ul>
                    <li>
                        <div><i class="fa fa-globe"></i><a href="{% url 'frontend:home' %}">ALL CATEGORIES</a></div>
                        <ul class="collapse">
                            <li></li>
                        </ul>
                    {% for each in categories %}
                        {% if each.categories_text == 'PRODUCTS' %}
                            <li class="menu-group">
                            <div><i class="fa fa-shopping-bag"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                    <li><a href="{% url 'frontend:category_type' 'PRODUCTS' %}">ALL PRODUCTS</a></li>
                                    <hr>
                                    {% for each_sub_category in item_sub_categories %}
                                        <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elif each.categories_text == 'SERVICES' %}
                            <li class="menu-group">
                                <div><i class="fa fa-truck"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                    <li><a href="{% url 'frontend:category_type' 'SERVICES' %}">ALL SERVICES</a></li>
                                    <hr>
                                    {% for each_sub_category in services_sub_categories %}
                                        <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elif each.categories_text == 'RIDESHARE' %}
                            <li class="menu-group">
                                <div><i class="fa fa-bug"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                    <li><a href="{% url 'frontend:category_type' 'RIDESHARE' %}">ALL RIDESHARE</a></li>
                                    <hr>
                                    {% for each_sub_category in rideshare_sub_categories %}
                                        <li><a href="{% url 'frontend:home' each_sub_category.id %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elif each.categories_text == 'HOUSING' %}
                            <li class="menu-group">
                                <div><i class="fa fa-home"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                <li><a href="{% url 'frontend:category_type' 'HOUSING' %}">ALL HOUSING</a></li>
                                <hr>
                                    {% for each_sub_category in housing_sub_categories %}
                                        <li><a href="#">{{ each_sub_category.id }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <br>
        </div>
        <div class="col-md-6">
            <div class="">
                <form action="" method="get"><ul style="padding-left: 0;">
                    <div class="btn-group">
                        {% if listings %}
                            <button type="button" class="btn btn-default btn-md btn-change" style="float: left;">All listing types</button>
                            <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left: 5px;">
                                <span class="caret"></span>
                            </button>
                            <!-- Given for loop to construct all -->
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'frontend:listing_type' 'OFFER' %}">Offer</a></li>
                                <li><a href="{% url 'frontend:listing_type' 'REQUEST' %}">Request</a></li>
                                <li><a href="{% url 'frontend:listing_type' 'TEACH' %}">Teach</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'frontend:listing_type' 'LEARN' %}">Learn</a></li>
                                <li><a href="{% url 'frontend:listing_type' 'GIFT' %}">Gift</a></li>
                            </ul>
                            </div>
                        {% endif %}
                    {% if not listings %}
                        {{ form.q }}
                        {{ form.radius }}

                        <span><label>{{ form.trusted }}
                            <img src="{% static 'img/heart_icon.png' %}"
                                 alt="{% trans 'Heart icon = trusted user' %}">
                            {% trans 'Trusted only' %}</label></span>
                    {% endif %}
                    <span>
                        {% if feed_items %}
                            <a href="{% url 'frontend:home' %}"><img src="{% static 'img/people.png' %}" height="22" width="22">&nbsp Posts only</a>
                        {% elif listings %}
                            <a href="{% url 'frontend:home_people' %}"><img src="{% static 'img/people.png' %}" height="22" width="22">&nbsp People only</a>
                        {% endif %}
                    </span>

                </ul></form>
            </div>
        </div>

        {% if feed_items %}
            <div class="col-md-10">
                {% for each in feed_items %}
                    <div class="panel panel-default {% if each.trusted %} trusted{% else %} untrusted{% endif %}">
                        <div class="panel-heading">{{ each }}</div>
                        <div class="panel-body">
                            <a href="{{ each.get_absolute_url }}">
                                <img src="{% profile_image_url each '150x150' %}" style="height: 70px; width: 100px;">
                            </a>
                            <div class="btn-group btn-group-lg btn-top-adjust" role="group" aria-label="..." style="float: right;">
                                <button id="" type="button" class="btn btn-default btn-danger trust-modal" title="Trust this person" data-profile-username="{{ each.user.profile.username }}">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-success payment-modal" title="Check your payments" data-profile-username="{{ each.user.profile.username }}">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-primary contact-modal" title="Contact the owner" data-profile-username="{{ each.user.profile.username }}">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2">
                                    <span><i class="fa fa-location-arrow" style="font-size: medium">&nbspLocation:</i></span>
                                </div>
                                <div class="col-md-10">
                                    {{ each.location }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <span><i class="fa fa-balance-scale" style="font-size: medium">&nbspBalance:</i></span>
                                </div>
                                <div class="col-md-10 pull-left">
                                    {{ each.overall_balance }} hours
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <span><i class="fa fa-calendar" style="font-size: medium">&nbspLast visit:</i></span>
                                </div>
                                <div class="col-md-10">
                                    {{ each.user.last_login }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p><em>{{ empty_string|default:_('No activity.') }}</em></p>
                {% endfor %}
            </div>

        {% elif listings %}
            <div class="col-md-10">
            {% for each in listings %}
                <div id="div_listing_{{ each.user.profile.username }}" class="col-sm-3 col-md-4">
                    <div class="thumbnail">
                        <img class="listing listing-modal" src="{% product_image_url each '280x280' %}" data-listing-id="{{ each.id }}" alt="...">
                        <p class="thumbnail-tag" style="margin-left: -55px;">{{ each.listing_type }} | {{ each.price }}</p>
                        <p class="thumbnail-info"></p>
                        <div class="caption" style="height: 115px;">
                            <a href="{{ each.user.profile.get_absolute_url }}" style="float: left;"><img src="{% profile_image_url each.user.profile '60x60' %}" class="img-circle inline"/></a>
                            <p style="padding-left: 70px;">{{ each.title }}</p>
                            <br>
                            <br>
{#                            <div class="col-sm-12"></div>#}
                            <div class="btn-group btn-group-md btn-top-adjust" role="group" aria-label="..." style="float: left;">
                                <button id="" type="button" class="btn btn-default btn-danger trust-modal" title="Trust this person" data-profile-username="{{ each.user.profile.username }}">
                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-success payment-modal" title="Check your payments" data-profile-username="{{ each.user.profile.username }}">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-default btn-primary contact-modal" title="Contact the owner" data-profile-username="{{ each.user.profile.username }}">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-9">
                <strong>There is nothing to show</strong>
            </div>
        {% endif %}
        </div>
        {% if remaining_count %}
            <p><a href="?{{ next_page_param_str }}">
                {% blocktrans %}{{ remaining_count }} More &raquo;{% endblocktrans %}
            </a></p>
        {% endif %}
    </div>
</section>

<div id="spin-modal" class="collapse">
    <i class="fa fa-refresh fa-spin fa-4x"></i>
</div>

<script>
    $(".listing-modal").click(function (e) {
        $('#spin-modal').fadeIn();
        debugger;
        var listing_id = $(this).attr('data-listing-id');
        var url = '/get_listing_info/'+listing_id;
        var listing_picture_path = '/media/';
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            success: function (data) {
                if(data["data"]["stat"] == "ok"){
                    debugger;
                    $('#listing-id').val(listing_id);
                    $('.listing-modal-title').text(data["data"]["listing_title"]);
                    $('.listing-img').attr("src", listing_picture_path+data["data"]["listing_photo"]);
                    $('#label-price').text(data["data"]["listing_price"]);
                    $('#label-profile-name').text(data["data"]["profile_name"]);
                    $('#profile-location').text(data["data"]["profile_location"]);
                    $('#listing-created-at').text(data["data"]["created_at"]);
                    $('#listing-created-at').attr("href", "/listing_details/"+listing_id);
                    $('#label-description').text(data["data"]["description"]);
                    $('#label-profile-username').text(data["data"]["username"]);
                    $('#label-profile-balance').text(data["data"]["balance"]);
                    $('#label-profile-occupation').text(data["data"]["job"]);
                    debugger;
{#                    $('#trust-btn').find() = data["data"]["username"];#}
{#                    $('#payment-btn').data('data-profile-username', data["data"]["username"]);#}
{#                    $('#contact-btn').data('data-profile-username', data["data"]["username"]);#}
                    $('#spin-modal').fadeOut();
                    $("#listing-modal").modal("show");
                }
            },
            error: function (data) {
                $('#spin-modal').fadeOut();
                showInternalServerError();
            }
        });
    });


    $(".trust-modal").click(function (e) {
        $('#spin-modal').fadeIn();
        var profile_username = $(this).attr('data-profile-username');
        $("#profile-username").val(profile_username);
        var url = '/relate/trust_ajax/'+profile_username;
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            success: function (data) {
                if(data["data"]["stat"] == "error"){
                    $('#error-modal-alert').text(data["data"]["error_message"]);
                    $('#spin-modal').fadeOut();
                    $('#error-modal').modal("show");
                }
                else if(data["data"]["stat"] == "ok"){
                    $('#spin-modal').fadeOut();
                    $('.trust-modal-title').text('Trust ' +profile_username);
                    $("#new-trust-modal").modal("show");
                }
                else if(data["data"]["stat"] == "existing"){
                    $('#id_weight').val(data['data']['weight']);
                    $('#id_text').val(data['data']['text']);
                    $('#spin-modal').fadeOut();
                    $('.trust-modal-title').text('Trust ' +profile_username);
                    $("#new-trust-modal").modal("show");
                }
            },
            error: function (data) {
                debugger;
                $('#spin-modal').fadeOut();
                showInternalServerError();
            }
        });
    });

    $(".payment-modal").click(function (e) {
        debugger;
        $('#payment-loading-modal').modal("show");
        $('#spin-modal').fadeIn();
        var profile_username = $(this).attr('data-profile-username');
        $("#profile-username").val(profile_username);
        var url = '/relate/acknowledge_ajax/'+profile_username;
        console.log(url);
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            success: function (data) {
                if(data["data"]["stat"] != "ok"){
                    $('#error-modal-alert').text(data["data"]["stat"]);
                    $('#spin-modal').fadeOut();
                    $('#error-modal').modal("show");
                }
                else if(!data['data']['can_ripple']){
                    $('label[for="id_ripple_0"]').closest('li').hide();
                    $('#id_ripple_1').attr('checked', true);
                    $('.ripple-hours').html("There are no available paths through the trust network to <strong>"+data['data']['recipient']+"</strong>, so you can only send direct acknowledgement.")
                    $('#spin-modal').fadeOut();
                    $('#payment-loading-modal').modal("hide");
                    $("#new-payment-modal").modal("show");
                }else if(data["data"]["can_ripple"]){
                    $('#id_ripple_0').attr('checked', true);
                    $('.ripple-hours').html("You can send a trusted acknowledgement of up to " + data['data']['max_amount'] + " hour(s) or a direct acknowledgement of any amount.")
                    $('#spin-modal').fadeOut();
                    $('#payment-loading-modal').modal("hide");
                    $("#new-payment-modal").modal("show");
                }
            },

            error: function (data) {
                debugger;
                $('#spin-modal').fadeOut();
                showInternalServerError();
            }
        });
        e.preventDefault();
    });

    $(".contact-modal").click(function (e) {
        $('#spin-modal').fadeIn();
        var profile_username = $(this).attr('data-profile-username');
        $("#profile-username").val(profile_username);
        $('#contact-modal-title').text('Contact '+profile_username);
        $('#spin-modal').fadeOut();
        $("#new-contact-modal").modal("show");
    });
</script>

<script>
    $('.menu-group div').click(function () {
        var menu = $(this).parent().find('ul');
        menu.slideToggle();
    });
</script>

