{% load staticfiles %}

<!-- Jumbotron should be hide after the user logged in -->
<div class="jumbotron">
  <img src="{% static 'images/cover.jpg' %}" class="jumbotron-image"/>
  <div class="caption jumbotron-content">
    <h1>Villages Marketplace</h1>
    <p>Everyone Has Value to Exchange</p>
    <p>Decentralized Mutual Credit System</p>
  </div>
</div>

<!-- Content should be construct with section -->
<section class="container-fluid" id="home-sub-menu">
  <div class="row">
    <div class="col-md-6">
      <!-- Split button -->
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-lg">All listing types</button>
        <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Offer</a></li>
          <li><a href="#">Request</a></li>
          <li><a href="#">Teach</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Learn</a></li>
          <li><a href="#">Gift</a></li>
          <li><a href="#">Goal</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-default btn-lg btn-20 btn-last btn-non-active  pull-right">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
      </button>
      <button type="button" class="btn btn-default btn-lg btn-20 btn-second btn-non-active pull-right">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List
      </button>
      <button type="button" class="btn btn-default btn-lg btn-20 btn-first btn-active pull-right">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Grid
      </button>
    </div>
  </div>
</section>

<section class="container-fluid" id="show-home-item">
  <div class="row">
    <div class="col-md-3">
      <p>ALL CATEGORIES</p>
      <nav class="sidebar">
        <ul class="nav sidenav">
          <li><a href="#items">ITEMS</a>
            <ul class="nav">
              <li><a href="#">TOOLS</a></li>
              <li><a href="#">SPORTS</a></li>
              <li><a href="#">MUSIC</a></li>
              <li><a href="#">BOOKS & MAGAZINES</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <br><br>
      <input
        id="ex2"
        type="text"
        class="span2"
        value=""
        data-slider-min="10"
        data-slider-max="1000"
        data-slider-step="5"
        data-slider-value="[250,450]"
        data-slider-handle="square"/>
        <br><br>
        <button type="button" class="btn btn-warning" name="button">Update view</button>
    </div>
    <hr>
    <div class="col-md-9">

      <!-- Given for loop to construct all -->
{#      {% for each in listings %}#}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail image">
            <img src="{% static 'images/cover.jpg' %}" alt="...">
            <p class="thumbnail-tag">Gift</p>
            <p class="thumbnail-info">9' Long Board</p>
            <div class="caption">
              <img src="https://randomuser.me/api/portraits/thumb/men/83.jpg" class="img-circle inline"/>
              <p class="inline">Thumbnail label</p>
            </div>
          </div>
        </div>
{#      {% endfor %}#}
    </div>
  </div>
</section>
