{% load staticfiles profile i18n %}

<style>
.html {
    padding-left: 15px;
    padding-right: 15px;
}

.meta-info p { font-family: 'Fenix', serif; font-style: italic; color: #666; font-size: 16px; }

.thumbnail .listing {
    width: 100%;
    height: 150px;
    display: block;
}

.thumbnail .listing-modal{
    width : 300px;
    height: 260px;
    overflow: auto;
}

.thumbnail .listing {
    width: 100%;
    height: 150px;
    display: block;
}

#profile-listing-img {
    width: 60px;
    height: 60px;
    display: block;
}
</style>
<section class="container-fluid" id="home-sub-menu">
    <div class="row">
        <div class="col-md-2">
            <nav class="sidebar">
                <ul>
                    <li>
                        <div><i class="fa fa-globe"></i><a href="{% url 'frontend:home' %}">ALL CATEGORIES</a></div>
                        <ul class="collapse">
                            <li></li>
                        </ul>
                    {% for each in categories %}
                        {% if each.categories_text == 'PRODUCTS' %}
                            <li class="menu-group">
                            <div><i class="fa fa-shopping-bag"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                    {% for each_sub_category in item_sub_categories %}
                                        <li><a href="{% url 'frontend:home' each_sub_category.sub_categories_text %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elif each.categories_text == 'SERVICES' %}
                            <li class="menu-group">
                                <div><i class="fa fa-truck"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                    {% for each_sub_category in services_sub_categories %}
                                        <li><a href="{% url 'frontend:home' each_sub_category.sub_categories_text %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elif each.categories_text == 'RIDESHARE' %}
                            <li class="menu-group">
                                <div><i class="fa fa-bug"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                    {% for each_sub_category in rideshare_sub_categories %}
                                        <li><a href="{% url 'frontend:home' each_sub_category.sub_categories_text %}">{{ each_sub_category.sub_categories_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% elif each.categories_text == 'HOUSING' %}
                            <li class="menu-group">
                                <div><i class="fa fa-home"></i> {{ each.categories_text }}</div>
                                <ul class="collapse">
                                    {% for each_sub_category in housing_sub_categories %}
                                        <li><a href="#">{{ each_sub_category.sub_categories_text }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
            <br>
        </div>
        <div class="col-md-6" style="padding-top: 10px;">
            <div class="">
                <form action="" method="get"><ul style="padding-left: 0;">
                    <div class="btn-group">
                        {% if listings %}
                            <button type="button" class="btn btn-default btn-md btn-change" style="float: left;">All listing types</button>
                            <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left: 5px;">
                                <span class="caret"></span>
                            </button>
                            <!-- Given for loop to construct all -->
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'frontend:listing_type' 'OFFER' %}">OFFER</a></li>
                                <li><a href="{% url 'frontend:listing_type' 'REQUEST' %}">REQUEST</a></li>
                                <li><a href="{% url 'frontend:listing_type' 'TEACH' %}">TEACH</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'frontend:listing_type' 'LEARN' %}">LEARN</a></li>
                                <li><a href="{% url 'frontend:listing_type' 'GIFT' %}">GIFT</a></li>
                            </ul>
                            </div>
                        {% endif %}
                    {% if not listings %}
                        <div class="form-group">
                            {{ form.q }}
                        </div>
                        <span>{{ form.radius }}</span>
                        {% if request.user.is_authenticated %}
                        <span><label>{{ form.trusted }}
                            <img src="{% static 'img/heart_icon.png' %}"
                                 alt="{% trans 'Heart icon = trusted user' %}">
                            {% trans 'Trusted only' %}</label></span>
                        {% endif %}
{#                    {% else %}#}
{#                        <div class="form-group" style="padding-top: 10px;">#}
{#                            {{ form_listing_settings.q }}#}
{#                        </div>#}
{#                        <div class="form-group">#}
{#                            {{ form_listing_settings.radius }}#}
{#                        </div>#}
                    {% endif %}
                    <span>
                        {% if item_type %}
                            <a href="{% url 'frontend:home' %}"><img src="{% static 'img/people.png' %}" height="22" width="22">&nbsp Listings only</a>
                        {% else %}
                            <a href="{% url 'frontend:home_people' %}"><img src="{% static 'img/people.png' %}" height="22" width="22">&nbsp People only</a>
                        {% endif %}
                    </span>
                </ul></form>
            </div>
        </div>

        {% if feed_items %}
        <div class="col-md-9">
            <div class="feed_item_list">
                {% for each in feed_items %}
                    <div class="panel panel-default line{% if each.trusted %} trusted{% else %} untrusted{% endif %}">
                        <div class="panel-heading">{{ each }}</div>
                        <div class="panel-body">
                            <img src="{% profile_image_url each '100x100' %}" style="height: 70px; width: 100px;">
                            <span><i class="fa fa-location-arrow" style="font-size: medium">&nbsp{{ each.location }}</i></span>
                            <p style="margin-left: 15px;"><i class="fa fa-balance-scale"></i>&nbsp{{ each.overall_balance }} hours</p>

                        </div>
                    </div>
                {% empty %}
                    <p><em>{{ empty_string|default:_('No activity.') }}</em></p>
                {% endfor %}
            </div>

        {% elif listings %}
        <div class="col-md-9" style="padding-left: 0;">
            {% for each in listings %}
                <div id="div_listing_{{ each.user.profile.username }}" class="col-sm-3 col-md-4">
                    <div class="thumbnail">
                        <img class="listing listing-modal" src="{% product_image_url each '280x280' %}" alt="...">
                        <p class="thumbnail-tag" style="margin-left: -55px;">{{ each.listing_type }} | {{ each.price }}</p>
                        <p class="thumbnail-info"></p>
                        <div class="caption" style="height: 78px;">
                            <span href="#" style="float: left;">
                                <img id="profile-listing-img" src="{% profile_image_url each.user.profile '60x60' %}" class="img-circle inline"/>
                            </span>
                            <p>&nbsp;{{ each.title }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-9">
                <strong>There is nothing to show</strong>
            </div>
        {% endif %}
        </div>
</div>
{% if remaining_count %}
	<p><a href="?{{ next_page_param_str }}">
		{% blocktrans %}{{ remaining_count }} More &raquo;{% endblocktrans %}
	</a></p>
{% endif %}
    </div>
</section>