<!-- MODAL de cadastro de target na tela de analise de paginas -->
<form class="form-horizontal" id="new-trust-form" method="POST">
    {% csrf_token %}
    <input type="text" id="profile-username" hidden>
    <div id="new-trust-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                    <h4 class="modal-title" id="myModalLabel">Trust this person</h4>
                </div>
                <div id="modaltext" class="modal-body">
                <div class="form-group">
                    <div class="container-fluid">
                        <label for="{{ trust_form.weight.label }}" class="control-label {% if field.errors %}error{% endif %}">{{ trust_form.weight.label }}</label>
                        <div class="input-group">
                            {{ trust_form.weight }}
                        </div>
                        <label for="{{ trust_form.text.label }}" class="control-label {% if field.errors %}error{% endif %}">{{ trust_form.text.label }}</label>
                        <div class="input-group">
                            {{ trust_form.text}}
                        </div>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="submit" id="save-trust" class=" btn btn-success gradient save-button">
                            <i class="fa fa-check"></i>Save Trust
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    <div id="msg"></div>
                </div>

            </div>
        </div>
    </div>
</form>

<script>
    $("#new-trust-form").submit(function(e) {
        var profile_username = $("#profile-username").val();
        var url = 'relate/endorse/'+profile_username;
        console.log(url);
        $.ajax({
            url: url,
            type: 'POST',
            data: {
                'profile_username': profile_username
            },
            success: function(resp){
                $.each(resp, function (key, value) {
                });
                $('#msg').html(resp).fadeIn();
                $('#msg').html("Successfully trusted").fadeIn();
                setTimeout(function () {
                    $('#msg').delay(2500).fadeOut();
                    $('#modal-close').click();
                },3000);
            },
            error: function (resp){
                console.log(resp);
                var errorMsg = "<strong>Sorry, it was not possible to perform the operation:" +
                    "<br/><ul>";
            }
        });
    });
</script>