<form class="form-horizontal" id="contact-form" method="POST">
    {% csrf_token %}
    <div id="contact-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                    <h4 class="modal-title" id="myModalLabel">Contact this person</h4>
                </div>
                <div id="modaltext" class="modal-body">
                 <div class="form-group">
                    <div class="container-fluid">
                        <div>
                            <label for="{{ payment_form.ripple.label }}" class="control-label {% if field.errors %}error{% endif %}">{{ payment_form.ripple.label }}</label>
                            {{ payment_form.ripple }}
                        </div>
                        <div class="input-group">
                            <label for="{{ payment_form.amount.label }}" class="control-label {% if field.errors %}error{% endif %}">{{ payment_form.amount.label }}</label>
                            {{ payment_form.amount}}
                        </div>
                        <div class="input-group">
                            <label for="{{ payment_form.memo.label }}" class="control-label input-group">{{ payment_form.memo.label }}</label>
                            {{ payment_form.memo}}
                        </div>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="submit" id="new-payment-modal" class=" btn btn-success gradient save-button">
                            <i class="fa fa-check"></i>Save payment
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    <div id="msg"></div>
                </div>

{#                <script>#}
{#                    $("#add-target-form").submit(function(e){#}
{#                        var formObj = $(this);#}
{#                        var formURL = formObj.attr("action");#}
{#                        var formData = new FormData(this);#}
{#                        var message_status = $('#message_status');#}
{#                        var error_message = $('#error_message');#}
{#                        var save = $("#add-target-modal");#}
{#                        $.ajax({#}
{#                            url:'{% url 'add_target' %}',#}
{#                            type:'POST',#}
{#                            data: {#}
{#                                'target_name': $('#target-name-modal').val(),#}
{#                                'correct_url': $('#correct-url-modal').val()#}
{#                            },#}
{#                            cache: false,#}
{#                            beforeSend: function (xhr) {#}
{#                                var csrftoken = $(document).find("input[name='csrfmiddlewaretoken']").val();#}
{#                                xhr.setRequestHeader("X-CSRFToken", csrftoken);#}
{#                                save.prop('disabled', true);#}
{#                            },#}
{#                            complete: function () {#}
{#                                save.prop('disabled', false);#}
{#                            },#}
{#                            success: function(resp){#}
{#                                debugger;#}
{#                                $.each(resp, function (key, value) {#}
{#                                    $("#id_target").append("<option value='"+value.name+"'>"+value.name+"</option>");#}
{#                                });#}
{#                                $("#target-name-modal").val('');#}
{#                                $("#correct-url-modal").val('');#}
{#                                $('#msg').html(resp).fadeIn('slow');#}
{#                                $('#msg').html("Target inserted successfully").fadeIn('slow');#}
{#                                $('#msg').delay(2500).fadeOut('slow');#}
{#                            },#}
{#                            error: function (resp){#}
{#                                console.log(resp);#}
{#                                var errors = JSON.parse(resp.responseText);#}
{#                                var errorMsg = "<font>Sorry, it was not possible to perform the operation:" +#}
{#                                        "<br/><ul>";#}
{#                                for (var error in errors) {#}
{#                                    errorMsg += "<li>";#}
{#                                    for (var e in errors[error]) {#}
{#                                        errorMsg += errors[error][e] + " ";#}
{#                                    }#}
{#                                    errorMsg += "</li>";#}
{#                                }#}
{#                                errorMsg += "</ul>";#}
{#                                error_message.removeAttr('style');#}
{#                                error_message.html(errorMsg);#}
{#                            }#}
{#                        });#}
{#                        e.preventDefault();#}
{#                    });#}
{#                </script>#}
            </div>
        </div>
    </div>
</form>