{% load relate %}
<!-- Trust Modal -->
<form class="form-horizontal" id="new-payment-form" method="POST">
    {% csrf_token %}
    <div id="new-payment-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <input type="text" id="profile-username" hidden>
        <div class="modal-dialog">
            <div class="modal-content" id="payment-modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                    <h4 class="modal-title" id="payment-modal-title">Pay this person</h4>
                </div>
                <div id="modaltext" class="modal-body">
                    <div class="form-group">
                        <div class="container-fluid">
                            <div class="alert alert-info ripple-hours">
                            </div>
                            <br>
                            <br>
                            {{ payment_form }}
                            </div>
                        </div>
                    </div>
                    <div id="msg"></div>
                    <div class="modal-footer">
                        <button type="submit" id="save-payment"
                                class=" btn btn-success gradient save-button"
                                onclick="return confirm(confirm_text());">
                            <i class="fa fa-check"></i>Save payment
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
</form>

<script>
    function confirm_text() {
		var can_ripple = {% if can_ripple %}true{% else %}false{% endif %};
		var hours = $("#id_amount").val();
		var ack_type = "direct";
		if (can_ripple) {
			var ripple = ($("input:radio[name=ripple]:checked").val() ==
							"routed");
			if (ripple) {
				ack_type = "trusted";
			}
		}
		if (!hours) hours = 0;
		var q = "Send a direct acknowledgement of " +
				hours + "h ?";
		if (ack_type=="trusted")
			q = "Send a trusted acknowledgement of " +
				hours + " h? ";
		return q;
	}

    $("#save-payment").click(function(e) {
        var profile_username = $("#profile-username").val();
        var url = 'relate/pay/'+profile_username+'/';
        console.log(url);
        $.ajax({
            url: url,
            type: 'POST',
            data: $('#new-payment-form').serialize(),
            cache: false,
            beforeSend: function (xhr) {
                var csrftoken = $(document).find("input[name='csrfmiddlewaretoken']").val();
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(data){
                if(data['data']['stat'] == 'ok'){
                    var recipient = data['data']['recipient'];
                    $('#msg').html(data).fadeIn('slow');
                    $('#msg').html("<strong><p>Successfully sent trust to " +recipient+ "</p></strong>").fadeIn('slow');
                    $('#msg').delay(2500).fadeOut('slow');
                    $('#new-payment-modal').hide()

                }
                else if(data['data']['stat'] == 'error'){
                    if('weight' in data['data']['errors']) {
                        $('#msg').html(data).fadeIn('slow');
                        var error = data["data"]["errors"]["weight"];
                        $('#msg').html("<strong><p> Weight: " +error+ " Please verify</p></strong>").fadeIn('slow');
                        $('#msg').delay(2500).fadeOut('slow');
                    }
                }
            },
            error: function (resp){
                console.log('Error ' + resp);
            }
        });
        e.preventDefault();
    });
</script>