<form class="form-horizontal" id="contact-form" method="POST">
    {% csrf_token %}
    <div id="new-contact-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <input type="text" id="profile-username" hidden>
        <div class="modal-dialog">
            <div class="modal-content" id="payment-modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                    <h4 class="modal-title" id="contact-modal-title">Contact this person</h4>
                </div>
                <div id="modaltext" class="modal-body">
                 <div class="form-group">
                    <div class="container-fluid">
                        <div>
                            {{ contact_form }}
                        </div>
                    </div>
                </div>
                    <div class="modal-footer">
                        <button type="submit" id="new-payment-modal" class=" btn btn-success gradient save-button">
                            <i class="fa fa-check"></i>Send contact
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    <div id="msg"></div>
                </div>
            </div>
        </div>
    </div>
</form>