<div class="col-sm-3 col-md-2 sidebar" style="padding: 0 !important;">
    <style>
        .panel {
            padding: 6px 10px;
            border-radius: 0 !important;
            position:relative;
            left: 1px;
        }

        .panel a:hover {
            text-decoration: none;
        }

        .panel a {
            color: black;
        }

        .panel a:hover {
            color: #357ebd;
        }

        .panel-heading {
            background: white !important;
        }

        .glyphicon {
            margin-right: 10px;
        }

        .fa-question {
            position:relative;
            top: 3px;
            left: 5px;
        }
    </style>

    <div class="panel-group" style="width: 100%;" id="accordion">
        <!-- input type="text" class="form-control" placeholder="Quick search..." style="border-radius: 0; position:relative; left: 1px;" -->
        <div class="panel panel-default">
            <div style="width: 50px; height: 100%; float:left; background:blue;"></div>
            <a href="#">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-search"></span> Search
                    </h4>
                </div>
            </a>
        </div>
    </div>
</div>