<form class="form-horizontal" id="add-posting-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="new-posting-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-posting-modal" aria-hidden="true" style="opacity: 0.9 !important;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                    <h4 class="modal-title" id="myModalLabel">New Posting</h4>
                </div>
                <div id="modaltext" class="modal-body">
                    <div class="form-group" id="div_{{ field.auto_id }}">
                        <label for="{{ field.label }}" class="col-sm-3 control-label {% if field.erros %}error{% endif %}" style="padding-top: 7px;">{{ field.label }}</label>
                        <div class="col-sm-8 {% if field.error %}error{% endif %}">
                            {{ form.as_p }}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="alert alert-error">{{ error }}</div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="message_status" class="" style="display: none;"></div>
                    <div id="error_message" class="alert alert-error" style="display: none;"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="add-listing" class=" btn btn-success gradient save-button">
                        <i class="fa fa-check"></i>Save Posting
                    </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                <div id="msg"></div>

            <script>
                $('#add-posting-form').submit(function (e) {
                    debugger;
                    var formObj = $(this);
                    var formUrl = formObj.attr("action");
                    var formData = new FormData(this);
                    var add_listing = $('#add-listng');
                    var message_status = $('#message_status');
                    var error_message = $('#error_message');
                    $.ajax({
                        url: formUrl,
                        type: 'POST',
                        data: formData,
                        cache: false,
                        beforeSend: function () {
                            add_listing.prop('disabled', true);
                        },
                        complete: function () {
                            add_listing.prop('disabled', false);
                        },
                        success: function (data) {
                            debugger;
                            message_status.removeAttr('style');
                            error_message.attr('style', 'display: none;');
                            message_status.html('&bullet; The listing was added');
                        },
                        error: function (data) {
                            console.log(data);
                            var errors = JSON.parse(data.responseText);
                            var errorMsg = "<font>Sorry, it was not possible to perform the operation:" +
                                    "<br/><ul>";
                            for (var error in errors) {
                                errorMsg += "<li>";
                                for (var e in errors[error]) {
                                    errorMsg += errors[error][e] + " ";
                                }
                                errorMsg += "</li>";
                            }
                            errorMsg += "</ul>";
                            error_message.removeAttr('style');
                            message_status.attr('style', 'display: none;');
                            error_message.html(errorMsg);
                        }
                    });
                    e.preventDefault();
                });
            </script>
            </div>
        </div>
    </div>
</form>