<form class="form-horizontal" id="add-posting-modal" action="{% url 'new_posting' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="new-posting-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="add-posting-modal" aria-hidden="true" style="opacity: 0.9 !important;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                    <h4 class="modal-title" id="myModalLabel">New Posting</h4>
                </div>
                <div id="modaltext" class="modal-body">
                    <div class="form-group" id="div_{{ field.auto_id }}">
                        <label for="{{ field.label }}" class="col-sm-3 control-label {% if field.erros %}error{% endif %}" style="padding-top: 7px;">{{ field.label }}</label>
                        <div class="col-sm-8 {% if field.error %}error{% endif %}">
                            {{ form.as_p }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <div class="alert alert-error">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                        </div>
                    </div>
                <div class="clearfix"></div>
                </div>
                    <div class="modal-footer">
                        <button type="submit" id="add-target-modal" class=" btn btn-success gradient save-button">
                            <i class="fa fa-check"></i>Save Posting
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    <div id="msg"></div>
                </div>
            </div>
        </div>
    </div>
</form>